.container {
    display: flex;
    justify-content: center;
    background-color: rgb(99, 47, 55);
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -9px;
}

.logo {
    margin-right: auto;
    margin-top: 10px;
    margin-left: 80px;
}

.menu_navigation {
    margin-top: auto;
    margin-bottom: 5px;
    text-align: center; /* Altere para center */
    overflow: auto;
}

.menu_navigation ul {
    list-style-type: none;
    padding: 1;
    margin: 1;
}

.menu_navigation li {
    display: flex;
    align-items: right;
    margin-right: 6vw; /* Altere para uma unidade relativa */
}

.menu_navigation p {
    margin: 0 5px;
    margin-inline-end: 2vw; /* Altere para uma unidade relativa */
    margin-inline-start: 2vw; /* Altere para uma unidade relativa */
}

.body_site {
    height: auto;
    width: 100%; /* Altere para uma unidade relativa */
}

.navbarimgs {
    display: flex;
    justify-content: center;
    margin-top: 5vh; /* Altere para uma unidade relativa */
    overflow: hidden;
    height: 70vh; /* Altere para uma unidade relativa */
    width: 100%; /* Altere para uma unidade relativa */
    background-color: rgb(255, 253, 218);
}

.navbarimgs img {
    width: 75%;
    height: auto; /* Altere para uma unidade relativa */
}

.main_view{
    height: 150vh;
    margin-top: 7vh;
    margin-inline-start: 12.5vw;
    margin-inline-end: 12.5vw;
}
.articles_field{
    height: 139vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.article {    
    width: 15vw; /* Defina a largura desejada para cada artigo */
    background-color: #fff; /* Defina a cor de fundo desejada */
    height: 5vh;
    padding: 20px;
    margin-bottom: 30px;
    padding-top: 30px;
    margin-right: 1vw;
    text-align: left;
}
.article img{
    width: 15vw;
    justify-content: center;
    margin-left: 10px;
}
.button{
    margin-bottom: 1vh;
}
#Options {
    font-size: large;
    color: rgb(255, 255, 255);
}
.black-footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    justify-items: center;
}

.grid-item {
    width: 300px;
    height: 300px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}